/* Reset y Estilos Globales */
body {
    font-family: var(--fuente-principal);
    text-align: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

a {
    text-decoration: none;
    color: inherit;
}
