/* Reset y Estilos Globales */
body {
    font-family: var(--fuente-principal);
    text-align: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

/*  Ajusta la posici贸n y previene el desbordamiento */
.whatsapp-button {
    position: fixed;
    bottom: 80px; /* Ajusta la altura */
    right: 20px;  /* Mueve un poco m谩s hacia la izquierda */
    width: 55px;  /* Reduce el tama帽o ligeramente */
    height: 20px;
    z-index: 100; /* Siempre visible encima del contenido */
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/*  Asegura que el bot贸n no se corte */
.whatsapp-button img {
    max-width: 100%; 
    display: block;
}

/*  Efecto al pasar el mouse */
.whatsapp-button:hover {
    transform: scale(1.2);
}

/*  Ajustes para m贸viles */
@media (max-width: 768px) {
    .whatsapp-button {
        bottom: 70px;
        right: 10px; /* Ajusta la posici贸n en m贸viles */
        width: 50px;
    }
}
