/* Variables Globales */

:root {
    /* Colores */
    --color-primario: #0e2e6d;
    --color-secundario: #3c7fec;
    --color-acento: #edeff5;
    --color-texto: #2f5479;
    --color-fondo: #f4f4f4;
    --color-fondo-2: #ffffff;
    --color-botones: #266ad6;
    --color-hover: #2a5298;
    --color-footer: #325577;
    --color-nav-bg: #345b83;
    --color-nav-text: #ffffff;
    --color-boton-whatsapp: #25d366;
    --color-boton-hover-whatsapp: #1da851;

    /* Fuentes */
    --fuente-principal: 'Popins', sans-serif;
    --fuente-titulos: 'Popins', sans-serif;
    --fuente-texto: 'Popins', sans-serif;

    /* Tamaños de Fuente */
    --tamano-h1: 2.5em;
    --tamano-h2: 2em;
    --tamano-h3: 1.8em;
    --tamano-texto: 1.2em;
    --tamano-boton: 1.1em;

    /* Espaciados */
    --espaciado-secciones: 80px;
    --padding-secciones: 20px;

    /* Bordes */
    --border-radius: 8px;
}
