<section id="contacto">
    <h2>Contacto</h2>
    <form id="contactForm">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Introduce tu email" required> 
        
        <label for="codigo-postal">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal" placeholder="Introduce tu código postal" required>

        <label for="ano-nacimiento">Año de Nacimiento:</label>
        <input type="text" id="ano-nacimiento" name="ano-nacimiento" placeholder="Introduce tu año de nacimiento" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>
        
        <button type="submit">Enviar</button>
    </form>
</section>
