<footer>
    <div class="contenedor-footer">
        <p>&copy; 2025 Redondo Lázaro Insurance Brokerage - Todos los derechos reservados.</p>
        <div class="redes-sociales">
            <a href="https://www.linkedin.com" target="_blank" class="icono-linkedin">🔗 LinkedIn</a>
            <a href="https://www.facebook.com" target="_blank" class="icono-facebook">📘 Facebook</a>
            <a href="https://www.instagram.com" target="_blank" class="icono-instagram">📸 Instagram</a>
        </div>
    </div>
</footer>

