<section id="contacto">
    <div class="contenedor-contacto">
        <div class="texto-contacto">
            <h2 class="titulo-contacto">Contacto</h2>
            <p class="mensaje-accion">No dudes en escribirme si tienes alguna pregunta o necesitas asesoramiento. Estoy aquí para ayudarte.</p>
            
            <form id="contactForm" action="https://formspree.io/f/mpwqevek" method="POST">
                <div class="form-group">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                </div>

                <div class="form-group">
                    <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>
                </div>

                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
                </div>

                <button type="submit" id="btnEnviar">Enviar</button>
            </form>
        </div>

        <div id="modal-confirmacion" class="modal">
            <div class="modal-contenido">
                <p>✅ Tu mensaje ha sido enviado correctamente. Nos pondremos en contacto contigo pronto.</p>
                <button id="cerrar-modal">Cerrar</button>
            </div>
        </div>

        
    </div>
</section>
