<section id="contacto">
    <h2 data-tr="contacto-titulo">Contacto</h2>
    <form id="contactForm">
        
        <label for="nombre" data-tr="contacto-nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
        
        <label for="email" data-tr="contacto-email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Introduce tu email" required> 
        
        <label for="codigo-postal" data-tr="contacto-codigo-postal">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal" placeholder="Introduce tu código postal" required>

        <label for="ano-nacimiento" data-tr="contacto-ano-nacimiento">Año de Nacimiento:</label>
        <input type="text" id="ano-nacimiento" name="ano-nacimiento" placeholder="Introduce tu año de nacimiento" required>

        <label for="mensaje" data-tr="contacto-mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí" required></textarea>
        
        <button type="submit" data-tr="contacto-enviar">Enviar</button>
    </form>
</section>
