<section id="inicio">
    <div class="contenido-inicio">
        <h2 class="titulo-inicio">Redondo Lazaro Insurance Brokerage</h2>
        <h3 class="subtitulo-inicio">Expertos en Seguros en Suiza</h3>
        <p><strong class="contacto-resaltado">¡Contáctanos sin compromiso!</strong></p>
        
        <div class="botones-inicio">
            <a href="https://wa.me/+41762623280" class="btn whatsapp">📲 WhatsApp</a>
            <a href="#contacto" class="btn cita">📩 Solicitar Asesoría</a>
        </div>
    </div>
</section>
