<section id="servicios">
    <h2>Mi oferta</h2>
    <div class="contenedor-servicios">
        <div class="servicio">
            <div class="servicio-inner">
                <div class="servicio-front">Servicio gratuito y sin compromiso</div>
                <div class="servicio-back">
                    <p>No pagas nada por el servicio y no adquieres ningún compromiso.</p>
                </div>
            </div>
        </div>

        <div class="servicio">
            <div class="servicio-inner">
                <div class="servicio-front">Seguros a medida</div>
                <div class="servicio-back">
                    <p>Te ofrezco soluciones personalizadas según tus necesidades y presupuesto.</p>
                </div>
            </div>
        </div>

        <div class="servicio">
            <div class="servicio-inner">
                <div class="servicio-front">Profesionalidad y transparencia</div>
                <div class="servicio-back">
                    <p>Corredor certificado (AFA VBV), registrado en FINMA (F01490776) y miembro de CICERO (41718).</p>
                </div>
            </div>
        </div>

        <div class="servicio">
            <div class="servicio-inner">
                <div class="servicio-front">Soporte continuo</div>
                <div class="servicio-back">
                    <p>Revisamos tus seguros cada año para garantizar la mejor cobertura.</p>
                </div>
            </div>
        </div>

    </div>
</section>
