<section id="servicios">
    <h2 class="titulo-seccion">¿Qué ofrezco?</h2>
    <p class="descripcion-seccion">Entre mis servicios</p>

    <div class="contenedor-servicios">
        <div class="servicio">
            <img src="images/icons8-briefcase.svg" alt="Servicio gratuito">
            <h3>Servicio gratuito y sin compromiso</h3>
            <p>No pagas nada por el servicio y no adquieres ningún compromiso.</p>
        </div>

        <div class="servicio">
            <img src="images/icons8-edit.svg" alt="Seguros a medida">
            <h3>Seguros a medida</h3>
            <p>Te ofrezco soluciones personalizadas según tus necesidades y presupuesto.</p>
        </div>

        <div class="servicio">
            <img src="images/icons8-certificate.svg" alt="Profesionalidad y transparencia" style="width: 50px;">
            <h3>Profesionalidad y transparencia</h3>
            <p>Corredor certificado (AFA VBV), registrado en FINMA y miembro de CICERO.</p>
        </div>

        <div class="servicio">
            <img src="images/icons8-refresh.svg" alt="Soporte continuo">
            <h3>Soporte continuo</h3>
            <p>Revisamos tus seguros cada año para garantizar la mejor cobertura.</p>
        </div>
    </div>
</section>
