<section id="sobre-mi">
    <h2 class="titulo-sobre-mi">Me presento</h2>
    <h3 class="subtitulo-sobre-mi">Soy Alejandro Redondo Lázaro</h3>
    <div class="contenedor-sobre-mi">
        <div class="imagen">
            <img src="images/mi-foto.jpg" alt="Foto de Alejandro" class="sobre-mi-img">
        </div>
        <div class="texto">
            <p>
                Ingeniero industrial y fundador de <strong>Redondo Lázaro Insurance Brokerage</strong>, 
                una correduría de seguros independiente dedicada a ayudar a las personas a navegar por el complejo panorama de seguros en Suiza.
            </p>
            <p>
                Mi <strong>misión</strong> es guiarte para que tomes decisiones informadas con confianza, proporcionando soluciones personalizadas que te <strong>ahorren tiempo, esfuerzo y dinero. </strong> 
            </p>
   
        </div>
    </div>
</section>
